<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Klub Lekkoatletyczny</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v6.2.1/css/all.css}" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


</head>

<body th:style="'background: url(https://wallpapercave.com/wp/wp2089569.jpg) no-repeat center center fixed; '">





<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-link  shadow-5-strong">
    <div class="container">
        <a class="navbar-brand font-weight-bold p1"  href="/">Klub Lekkoatletyczny</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a th:href="@{/nasze_zawody}" class="nav-link">Nasze zawody</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/trenerzy}" class="nav-link">Trenerzy i sekcje</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/zawodnicy}" class="nav-link">Zawodnicy</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/pracownicy}" class="nav-link">Pracownicy</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/main_admin}" class="nav-link">Strona Admina</a>
                </li>
            </ul>
        </div>
    </div>
    <span sec:authorize="isAuthenticated()" >
        <button class="btn btn-outline-primary navbar-brand ml-auto">
            <i class="fas fa-user-circle"></i>
            <span sec:authentication="name"></span>
        </button>
    </span>
    <span sec:authorize="!isAuthenticated()" >
            <a th:href="@{/login}" class="btn btn-success navbar-brand ml-auto" role="button" aria-pressed="false">Zaloguj</a>
        </span>
    <form th:action="@{/logout}" method="post">
            <span sec:authorize="isAuthenticated()" >
                <button class="btn btn-outline-danger navbar-brand ml-auto" role="button" aria-pressed="false" >Wyloguj</button>
            </span>
    </form>
</nav>


<div class="center" style="color:aliceblue;">
    <h1 style="font-family: Impact, fantasy" > WITAMY! </h1>
    <p>To oficjalna strona naszego Klubu Lekkoatletycznego.</p>
    <p>Jeśli chcesz zobaczyć więcej musisz się zalogować.</p>
</div>

<!-- footstop -->
<div class="footer flx">
    <p class="col-1" style="column-width: auto; bottom: 0">
        <strong>Adres:</strong>
        <br>
        ul. Gandalfa 32a
        <br>
        02-312, Warszawa
    </p>
    <p class="col-2" style="column-width: fit-content">
        <strong>Kontakt:</strong>
        <br>
        <i class="fas fa-phone"></i>
        tel2: +48 506 215 719
        <br>
        <i class="fas fa-envelope"></i>
        e-mail: klub_lekkoatletyczny@gmail.com
    </p>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:if="${param.logout}"> alert('Zostałeś wylogowany');</script>


</body>
</html>