<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html"><head>
  <meta charset="UTF-8"/>
  <title>Pracownicy</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
  <link th:rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.14.0/css/all.css}" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a th:href="@{/}" class="navbar-brand font-weight-bold p1">Klub Lekkoatletyczny</a>
    <div>
      <a th:href="@{/nasze_zawody}" class="btn btn-dark btn-sm">Nasze zawody</a>
      <a th:href="@{/trenerzy}" class="btn btn-dark btn-sm">Trenerzy i sekcje</a>
      <a th:href="@{/zawodnicy}" class="btn btn-dark btn-sm">Zawodnicy</a>
      <a th:href="@{/pracownicy}" class="btn btn-primary btn-sm">Pracownicy</a>
    </div>
  </div>
  <button class="btn btn-outline-primary navbar-brand ml-auto" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-user-circle"></i>
    <span sec:authorize="isAuthenticated()">
      <span sec:authentication="name"></span>
    </span>
  </button>
  <form th:action="@{/logout}" method="post">
    <button class="btn btn-outline-danger navbar-brand ml-auto" role="button" aria-pressed="false" >Wyloguj</button>
  </form>

</nav>

<div class="container">
  <div class="text-center" style="color: black" >
    <form th:action="@{/addPracownik}" th:object="${pracownikAdd}" method="post">
      <table class="table-center table table-striped">
        <thead>
        <tr>
          <th>id_pracownika</th>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th>Plec</th>
          <th>Pesel</th>
          <th>Telefon</th>
          <th>E-mail</th>
          <th>Data zatrudnienia</th>
          <th>Nr klubu</th>
          <th>Opcje</th>
          <th>
          </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="pracownik: ${pracownicy}">
          <td th:text="${pracownik.nrPracownika}"></td>
          <td th:text="${pracownik.imie}"></td>
          <td th:text="${pracownik.nazwisko}"></td>
          <td th:text="${pracownik.plec}"></td>
          <td th:text="${pracownik.pesel}"></td>
          <td th:text="${pracownik.telefon}"></td>
          <td th:text="${pracownik.email}"></td>
          <td th:text="${pracownik.dataZatrudnienia}"></td>
          <td th:text="${pracownik.nrKlubu}"></td>
          <td>
            <a class="btn btn-outline-info">Edytuj</a>
            <a class="btn btn-outline-danger" onclick="deleteConfirmation()">Usuń</a>
            <a style="display: none" th:href="@{'/delete_pracownik/' + ${pracownik.nrPracownika}}" id="confirmBtn"></a>

          </td>
        </tr>
        <tr id="myForm" style="display:none">
          <td>
            <label for="nrPracownika"></label>
            <input type="number" id="nrPracownika" th:field="*{nrPracownika}" class="form-control-sm" required>
          </td>
          <td>
            <label for="Imie"></label>
            <input type="text" id="Imie" th:field="*{imie}" class="form-control-sm" required>
          </td>
          <td>
            <label for="Nazwisko"></label>
            <input type="text" id="Nazwisko" th:field="*{nazwisko}" class="form-control-sm" required>
          </td>
          <td>
            <label for="plec"></label>
            <select id="plec" name="plec">
              <option value="M">Mężczyzna</option>
              <option value="K">Kobieta</option>
            </select>
          </td>
          <td>
            <label for="Pesel"></label>
            <input type="text" id="Pesel" th:field="*{pesel}" class="form-control-sm" required>
          </td>
          <td>
            <label for="Telefon"></label>
            <input type="tel" id="Telefon" th:field="*{telefon}" class="form-control-sm" required>
          </td>
          <td>
            <label for="E-mail"></label>
            <input type="email" id="E-mail" th:field="*{email}" class="form-control-sm" required size="9">
          </td>
          <td>
            <label for="dataZatrudnienia"></label>
            <input type="date" id="dataZatrudnienia" th:field="*{dataZatrudnienia}" class="form-control-sm" required>
          </td>
          <td>
            <label for="nr_klubu"></label>
            <input type="text" id="nr_klubu" th:field="*{nrKlubu}" class="form-control-sm" required>
          </td>
          <td>
            <button class="btn btn-outline-success" type="submit"> Zapisz </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
    <button class="btn btn-outline-info center" onclick="showHideRow()"> Dodaj </button>
  </div>
</div>

<!-- footstop -->
<div class="footer flx">
  <p class="col-1" style="column-width: auto; bottom: 0">
    <strong>Adres:</strong>
    <br>
    ul. Gandalfa 32a
    <br>
    02-312, Warszawa
  </p>
  <p class="col-2" style="column-width: fit-content">
    <strong>Kontakt:</strong>
    <br>
    <i class="fas fa-phone"></i>
    tel2: +48 506 215 719
    <br>
    <i class="fas fa-envelope"></i>
    e-mail: klub_lekkoatletyczny@gmail.com
  </p>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>