<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Nasze zawody</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.14.0/css/all.css}" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand font-weight-bold p1">Klub Lekkoatletyczny</a>
        <div>
            <a th:href="@{/nasze_zawody}" class="btn btn-primary btn-sm">Nasze zawody</a>
            <a th:href="@{/trenerzy}" class="btn btn-dark btn-sm">Trenerzy i sekcje</a>
            <a th:href="@{/zawodnicy}" class="btn btn-dark btn-sm">Zawodnicy</a>
            <a th:href="@{/pracownicy}" class="btn btn-dark btn-sm">Pracownicy</a>
        </div>
    </div>
    <button class="btn btn-outline-primary navbar-brand ml-auto" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i>
        <span sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                </span>
    </button>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-outline-danger navbar-brand ml-auto" role="button" aria-pressed="false" >Wyloguj</button>
    </form>
</nav>

<div class="container">
    <div class="center" style="color: black" >
        <h1> Zawody w których braliśmy udział </h1>
    </div>

</div>

<div class="container tabela" >
    <div class="text-center" style="color: black" >
        <form th:action="@{/addZawody}" th:object="${zawodyAdd}" method="post">
        <table class="table-center table table-striped">
            <thead>
                <tr>
                    <th>Nr_zawodów</th>
                    <th>Data</th>
                    <th>Liczba widzów</th>
                    <th>Złote medale</th>
                    <th>Srebrne medale</th>
                    <th>Brązowe medale</th>
                    <th>Numer klubu</th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="zawody: ${zawody}">
                    <td th:text="${zawody.nrZawodow}"></td>
                    <td th:text="${zawody.data}"></td>
                    <td th:text="${zawody.liczbaBiletow}"></td>
                    <td th:text="${zawody.zloteMedale}"></td>
                    <td th:text="${zawody.srebrneMedale}"></td>
                    <td th:text="${zawody.brazoweMedale}"></td>
                    <td th:text="${zawody.nrKlubu}"></td>
                    <td>
                        <a th:href="@{'/nasze_zawody/' + ${zawody.nrZawodow}}" class="btn btn-outline-info editBtn" id="editButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edytuj</a>
                        <a class="btn btn-outline-danger" onclick="deleteConfirmation()">Usuń</a>
                        <a style="display: none" th:href="@{'/delete_zawody/' + ${zawody.nrZawodow}}" id="confirmBtn"></a>
                    </td>
                </tr>
                    <tr id="myForm" style="display:none">
                            <td>
                                <label for="nr_zawodow"></label>
                                <input id="nr_zawodow" type="text" th:field="*{nrZawodow}"  autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <label for="data"></label>
                                <input type="date" id="data" th:field="*{data}" autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <label for="liczbaBiletow"></label>
                                <input type="text" id="liczbaBiletow" th:field="*{liczbaBiletow}" autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <label for="zlote_medale"></label>
                                <input type="text" id="zlote_medale" th:field="*{zloteMedale}" autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <label for="srebrne_medale"></label>
                                <input type="text" id="srebrne_medale" th:field="*{srebrneMedale}" autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <label for="brazowe_medale"></label>
                                <input type="text" id="brazowe_medale" th:field="*{brazoweMedale}" autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <label for="nr_klubu"></label>
                                <input type="text" id="nr_klubu" th:field="*{nrKlubu}" autocomplete="on" class="form-control-sm" required>
                            </td>
                            <td>
                                <button class="btn btn-outline-success" type="submit"> Zapisz </button>
                            </td>
                        </tr>
                </tbody>
            </table>
        </form>


        <button class="btn btn-outline-info center" id="addButton" onclick="showHideRow()"> Dodaj </button>
    </div>

</div>

<!-- Modal -->
<form th:action="@{/updateZawody}" th:object="${zawodyAdd}" method="post">
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="popover" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edytuj</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="nrZawodow"> Nr zawodow</label>
                        <input class="getData" type="text" th:field="*{nrZawodow}" id="nrZawodow">
                    </div>
                    <div class="col">
                        <label for="Data1"> Data</label>
                        <input class="getData" type="date" th:field="*{data}" id="Data1">
                    </div>
                    <div class="col">
                        <label for="bilety"> Data</label>
                        <input class="getData" type="text" th:field="*{liczbaBiletow}" id="bilety">
                    </div>
                </div>
                <div class="row">Medale: </div>
                <div class="row">
                    <div class="col">
                        <label for="zloteMedale">Złote</label>
                        <input class="getData" type="number" th:field="*{zloteMedale}" id="zloteMedale">
                    </div>
                    <div class="col">
                        <label for="srebrneMedale">Srebrne</label>
                        <input class="getData"type="number" th:field="*{srebrneMedale}" id="srebrneMedale">
                    </div>
                    <div class="col">
                        <label for="brazoweMedaale">Brązowe</label>
                        <input class="getData" type="number" th:field="*{brazoweMedale}" id="brazoweMedaale">
                    </div>
                    <div class="col">
                        <label for="nrKlubu">Nr Klubu</label>
                        <input class="getData" type="number"th:field="*{nrKlubu}" id="nrKlubu">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Potwierdz</button>
            </div>
            </div>
        </div>
    </div>
</div>
</form>


<!-- footstop -->
<div class="footer flx">
    <p class="col-1" style="column-width: auto; bottom: 0">
        <strong>Adres:</strong>
        <br>
        ul. Gandalfa 32a
        <br>
        02-312, Warszawa
    </p>
    <p class="col-2" style="column-width: fit-content">
        <strong>Kontakt:</strong>
        <br>
        <i class="fas fa-phone"></i>
        tel2: +48 506 215 719
        <br>
        <i class="fas fa-envelope"></i>
        e-mail: klub_lekkoatletyczny@gmail.com
    </p>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>