<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Trenerzy i sekcje</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main_user.css}"/>
    <link th:rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.14.0/css/all.css}" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">



</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand font-weight-bold p1">Klub Lekkoatletyczny</a>
        <div>
            <a th:href="@{/nasze_zawody}" class="btn btn-dark btn-sm">Nasze zawody</a>
            <a th:href="@{/trenerzy}" class="btn btn-primary btn-sm">Trenerzy i sekcje</a>
            <a th:href="@{/zawodnicy}" class="btn btn-dark btn-sm">Zawodnicy</a>

            <button class="btn btn-outline-primary navbar-brand ml-auto" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
            <span sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                </span>
        </button>
        </div>
    </div>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-outline-danger navbar-brand ml-auto" role="button" aria-pressed="false" >Wyloguj</button>
   </form>
</nav>



<div class="container center">
    <div class="center" style="color: black" >
        <table>
            <thead>
            <tr>
                <th>id_trenera</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Dyscyplina</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Nr klubu</th>
                <th>Stopień zaawansowania</th>
                <th>Opcje</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="trener: ${trenerzy}">
                <td th:text="${trener.nr_pracownika}"></td>
                <td th:text="${trener.imie}"></td>
                <td th:text="${trener.nazwisko}"></td>
                <td th:text="${trener.dyscyplina}"></td>
                <td th:text="${trener.email}"></td>
                <td th:text="${trener.telefon}"></td>
                <td th:text="${trener.nrKlubu}"></td>
                <td th:text="${trener.stopienZaawansowania}"></td>
                <td>
                    <i class="fa-regular fa-pen-to-square icon edit"></i>
                    <i class="fa-regular fa-trash-can icon delete"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- footstop -->
<div class="footer flx">
    <p class="col-1" style="column-width: auto; bottom: 0">
        <strong>Adres:</strong>
        <br>
        ul. Gandalfa 32a
        <br>
        02-312, Warszawa
    </p>
    <p class="col-2" style="column-width: fit-content">
        <strong>Kontakt:</strong>
        <br>
        <i class="fas fa-phone"></i>
        tel2: +48 506 215 719
        <br>
        <i class="fas fa-envelope"></i>
        e-mail: klub_lekkoatletyczny@gmail.com
    </p>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

