
.p1{
    font-family: Impact, fantasy;
    font-size: xx-large;
}

.header {
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: fit-content;
    background-color: #333333;
    font-size: 15px;
    color: aliceblue;
}


.login-form {
    /* other styles */
    background-color: rgba(255, 255, 255, 0.5);
}


.bg-glass {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.center {
    width: 50%; /* set the width of the div to 50% of the page */
    margin: 25px auto auto;
    text-align: center;
}

.flx {
    display: flex;
    justify-content: center;
}

.table-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


