<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE HTML>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8"/>
        <title>Error Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand font-weight-bold p1"  href="/">Klub Lekkoatletyczny</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
                <div class="form-group">
                    <div><b><p style="font-size:30px">Przepraszamy! Coś poszło nie tak :(</p></b></div>
                    <div><p style="font-size:24px">An unexpected error has occurred</p></div>
                </div>
                <a th:href= "@{/errorh}" class="btn btn-outline-primary" type="submit" >Powrót do strony głównej</a>
        </div>
    </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>